In [1]:

##🐍 Python Data Cleaning Pipeline

import pandas as pd
import numpy as np

# 1) Load dataset
df = pd.read_csv("world_economics.csv")
df
print("Shape:", df.shape)
print(df.head())


##2) Standardize column names


df.columns = (
    df.columns.str.strip()         # remove extra spaces
             .str.lower()          # lowercase
             .str.replace(" ", "_")
             .str.replace(r"[%()/]", "", regex=True)  # remove %, (), /
)

print(df.columns)
print(df.tail())

Shape: (173, 19)
            name              currency           capital   languages  \
0        Tunisia        Tunisian dinar             Tunis      Arabic
1        Vietnam       Vietnamese đồng             Hanoi  Vietnamese
2        Ecuador  United States dollar             Quito     Spanish
3    Puerto Rico  United States dollar          San Juan     English
4  United States  United States dollar  Washington, D.C.     English

    latitude   longitude       area    region           subregion  \
0  34.000000    9.000000   163610.0    Africa     Northern Africa
1  16.166667  107.833333   331212.0      Asia  South-Eastern Asia
2  -2.000000  -77.500000   276841.0  Americas       South America
3  18.250000  -66.500000     8870.0  Americas           Caribbean
4  38.000000  -97.000000  9372610.0  Americas       North America

                 borders    GDP  GDP Growth  Interest Rate  Inflation Rate  \
0         ['DZA', 'LBY']     53        1.80            7.5            5.30
1  ['KHM', 'CHN', 'LAO']    476        6.88            4.5            3.19
2         ['COL', 'PER']    125        3.46            8.5            0.72
3                    NaN    126         NaN            NaN            1.20
4         ['CAN', 'MEX']  29185        3.00            4.5            2.70

   Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
0         15.70         -6.6      79.8             -2.7       11.89
1          2.24         -4.0      32.9              6.1      101.30
2          4.50         -1.9      50.6              2.8       17.97
3          5.70          NaN       NaN              NaN        3.20
4          4.20         -6.4     124.3             -3.9      341.15
Index(['name', 'currency', 'capital', 'languages', 'latitude', 'longitude',
       'area', 'region', 'subregion', 'borders', 'gdp', 'gdp_growth',
       'interest_rate', 'inflation_rate', 'jobless_rate', 'gov._budget',
       'debtgdp', 'current_account', 'population'],
      dtype='object')
              name           currency       capital languages   latitude  \
168  New Caledonia          CFP franc        Nouméa    French -21.500000
169         Kosovo               Euro      Pristina  Albanian  42.666667
170       Malaysia  Malaysian ringgit  Kuala Lumpur   English   2.500000
171           Fiji      Fijian dollar          Suva   English -17.713400
172        Jamaica    Jamaican dollar      Kingston   English  18.250000

      longitude      area    region           subregion  \
168  165.500000   18575.0   Oceania           Melanesia
169   21.166667   10908.0    Europe    Southeast Europe
170  112.500000  330803.0      Asia  South-Eastern Asia
171  178.065000   18272.0   Oceania           Melanesia
172  -77.500000   10991.0  Americas           Caribbean

                          borders  gdp  gdp_growth  interest_rate  \
168                           NaN   10         NaN           2.00
169  ['ALB', 'MKD', 'MNE', 'SRB']   11         NaN            NaN
170         ['BRN', 'IDN', 'THA']  422         2.1           2.75
171                           NaN    6         NaN           0.25
172                           NaN   20         0.8           5.75

     inflation_rate  jobless_rate  gov._budget  debtgdp  current_account  \
168             0.8          11.2          NaN      NaN              NaN
169             4.3          10.8          0.2     16.9             -9.0
170             1.2           3.0         -4.1     70.4              1.7
171            -0.4           4.3         -3.4     78.3             -8.7
172             3.3           3.3         -1.0     67.9              1.3

     population
168        0.29
169        1.60
170       34.10
171        0.93
172        2.82

In [2]:

##
# 3) Clean numeric columns

# Columns expected to be numeric
num_cols = ["gdp", "gdp_growth", "interest_rate", "inflation_rate",
            "jobless_rate", "gov_budget", "debt_gdp",
            "current_account", "population", "area", "latitude", "longitude"]

for col in num_cols:
    if col in df.columns:
        df[col] = (df[col]
                     .astype(str)              # convert to string
                     .str.replace(",", "", regex=False)  # remove commas
                     .str.replace("%", "", regex=False)  # remove %
                     .str.replace("$", "", regex=False)  # remove $
                     .str.strip()
                     .replace(["", "nan", "None", "NaN", "N/A"], np.nan) # unify nulls
                  )
        df[col] = pd.to_numeric(df[col], errors="coerce")

In [3]:
##4) Handle missing values


# Replace empty strings with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

# Check null counts
print(df.isnull().sum())

name                0
currency            0
capital             1
languages           0
latitude            0
longitude           0
area                0
region              0
subregion           0
borders            24
gdp                 0
gdp_growth         72
interest_rate      11
inflation_rate      1
jobless_rate        2
gov._budget         7
debtgdp             8
current_account     6
population          0
dtype: int64

In [4]:
##5) Remove duplicates

df = df.drop_duplicates(subset=["name"])  # country name assumed unique

In [5]:
##6) Standardize text columns


text_cols = ["name", "currency", "capital", "languages", "region", "subregion", "borders"]

for col in text_cols:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip().str.title().replace("Nan", np.nan)

In [6]:
##7) Add derived column → GDP per capita


df["gdp_per_capita"] = np.where(
    (df["population"].notnull()) & (df["population"] > 0),
    df["gdp"] / df["population"],
    np.nan
)

In [7]:
##8) Final check


print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             173 non-null    object
 1   currency         173 non-null    object
 2   capital          172 non-null    object
 3   languages        173 non-null    object
 4   latitude         173 non-null    float64
 5   longitude        173 non-null    float64
 6   area             173 non-null    float64
 7   region           173 non-null    object
 8   subregion        173 non-null    object
 9   borders          149 non-null    object
 10  gdp              173 non-null    int64
 11  gdp_growth       101 non-null    float64
 12  interest_rate    162 non-null    float64
 13  inflation_rate   172 non-null    float64
 14  jobless_rate     171 non-null    float64
 15  gov._budget      166 non-null    float64
 16  debtgdp          165 non-null    float64
 17  current_account  167 non-null    float64
 18  population       173 non-null    float64
 19  gdp_per_capita   173 non-null    float64
dtypes: float64(12), int64(1), object(7)
memory usage: 27.2+ KB
None
         latitude   longitude          area           gdp  gdp_growth  \
count  173.000000  173.000000  1.730000e+02    173.000000  101.000000
mean    20.437142   22.371774  7.561437e+05    637.508671    1.115644
std     23.961270   58.849734  2.007481e+06   2703.930867    3.820764
min    -41.000000 -102.000000  2.020000e+00      2.000000  -23.700000
25%      6.500000   -2.000000  3.839400e+04     20.000000    0.100000
50%     20.000000   24.000000  1.810350e+05     72.000000    0.700000
75%     40.000000   49.000000  5.870410e+05    373.000000    1.800000
max     65.000000  178.065000  1.709824e+07  29185.000000   18.600000

       interest_rate  inflation_rate  jobless_rate  gov._budget     debtgdp  \
count     162.000000      172.000000    171.000000   166.000000  165.000000
mean        7.802222        8.348663      7.363099    -2.822831   60.945879
std         8.169314       21.367006      6.065999     4.265735   38.998840
min         0.000000       -9.100000      0.100000   -17.600000    2.300000
25%         2.812500        1.275000      3.200000    -4.975000   36.100000
50%         5.250000        3.350000      5.200000    -3.175000   54.900000
75%         9.187500        5.300000      9.115000    -1.100000   76.500000
max        59.230000      172.000000     33.200000    21.600000  272.000000

       current_account   population  gdp_per_capita
count       167.000000   173.000000      173.000000
mean         -0.545269    45.570058       21.519072
std           8.871213   155.896870       33.426494
min         -31.500000     0.040000        0.142349
25%          -4.900000     3.540000        2.495544
50%          -1.000000    10.580000        7.539683
75%           3.210000    34.430000       30.188679
max          31.400000  1408.000000      250.000000

In [8]:
##9) Save cleaned dataset


df.to_csv("cleaned_world_economics.csv", index=False)
print("✅ Cleaned file saved: cleaned_world_economics.csv")

✅ Cleaned file saved: cleaned_world_economics.csv